<div class="salesWrap">
	<p class="salesTitle">❓환불대기 리스트</p>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col" rowspan="2"></th>
				<th scope="col" rowspan="2">환불 신청일</th>
				<th scope="col" rowspan="2">회원 ID</th>
				<th scope="col" colspan="3">환불신청 주문</th>
				<th scope="col" rowspan="2">환불 신청 사유</th>
				<th scope="col" rowspan="2">수락</th>
				<th scope="col" rowspan="2">거절</th>
			</tr>
			<tr>
				<th scope="col">주문번호</th>
				<th scope="col">구매 수량 (환불)</th>
				<th scope="col">구매 금액 (환불)</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${data != null}" th:each="refund:${data}">
				<td th:text="${refundStat.count}"></td>
				<td th:text="${refund.refundRequestStr}"></td>
				<td th:text="${refund.userId}"></td>
				<td th:text="${refund.orderId}"></td>
				<td th:text="${refund.quantity}"></td>
				<td th:text="${refund.totalAmount}"></td>
				<td th:text="${refund.reason}"></td>
				<td align="center"><input type="button" value="승인" onclick="approve(this)" /></td>					
				<td align="center"><input type="button" value="거절" onclick="refuse(this)" /></td>
			</tr>
		</tbody>
	</table>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
	var refund = /*[[${data}]]*/[];

	if (refund.length != 0) {
		var approvePost = {
			"orderId": refund[0].orderId,
			"userId": refund[0].userId,
			"refundStatus": 1,
			"tid": refund[0].tid,
			"totalAmount": refund[0].totalAmount
		};
		var refusePost = {
			"orderId": refund[0].orderId,
			"userId": refund[0].userId,
			"refundStatus": 0
		};
	}

	function approve(button) {
		var row = button.closest('tr')
		if (confirm("환불을 승인하시겠습니까?")) {
			axios.post('http://localhost/sales/refund', approvePost)
				.then(() => {
					row.remove()
				})
		}
	}

	function refuse(button) {
		var row = button.closest('tr')
		if (confirm("환불을 거절하시겠습니까?")) {
			axios.post('http://localhost/sales/refund', refusePost)
				.then(() => {
					row.remove()
				})
		}
	}

</script>